* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  flex-wrap: wrap;

  margin: 0 5%;
}

.main {
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto;
}

.left {
  grid-column-start: 0;
  grid-column-end: 2;
}

.right {
  grid-column-start: 2;
  grid-column-end: 3;
}

.left,
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  border: 1px solid black;
}
